@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url("./fonts/RobotoMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/LexendDeca-Regular.woff2") format("woff2");
}
