@import "tailwindcss";
@import "./styles/content-grid.css";
@import "./font.css";

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.caret {
  width: 3px;
  height: 2.3rem;
  background-color: #d1a918;
  pointer-events: none;
  border-radius: 1px;
}

.bottom-stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 440px) {
  .bottom-stats-grid {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    column-gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .bottom-stats-grid {
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    grid-auto-flow: row;
  }
}

@media only screen and (min-width: 1024px) {
  .bottom-stats-grid {
    grid-auto-flow: column;
    grid-template-columns: none;
    grid-template-areas: none;
    align-items: flex-start;
    column-gap: clamp(2rem, 5vw, 8rem);
    justify-content: space-between;
    grid-row-start: bottom-stats-grid;
    grid-row-end: bottom-stats-grid;
    grid-column-start: bottom-stats-grid;
    grid-column-end: bottom-stats-grid;
  }
}
